// 1️⃣ Functions first
@import "../node_modules/bootstrap/scss/functions";

// 3️⃣ Bootstrap variables y mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";

// 4️⃣ Bootstrap components que quieres
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/buttons";

:root {
  font-size : 100%;
  scroll-behavior : smooth;
}
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
    height: 100%;
  overflow: hidden;
  background-color: rgb(217, 2, 171);
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  pointer-events: none; /* muy importante */
  z-index: 0;
}
@keyframes bg-animation {
  0%   { transform: translate(0,0) }
  10%  { transform: translate(-5%,-5%) }
  20%  { transform: translate(-10%,5%) }
  30%  { transform: translate(5%,-10%) }
  40%  { transform: translate(-5%,15%) }
  50%  { transform: translate(-10%,5%) }
  60%  { transform: translate(15%,0) }
  70%  { transform: translate(0,10%) }
  80%  { transform: translate(-15%,0) }
  90%  { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}


// Estilos personalizados

.white-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2rem;
}
//Header
.Header{
    position: fixed;
    width: 100%;
  z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;}

.Header-nav ul{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding: 1rem 0;
}
.Header-link {
  position: relative;
  padding: 2rem 0;
  white-space: nowrap;
  transition: color 0.3s ease, font-size .6s ease;

  overflow: visible; /* CLAVE */
}

.Header-link::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(var(--mouse-x) - 50px);
  top: calc(var(--mouse-y) - 50px);
  background: radial-gradient(
    circle,
    rgba(102, 126, 234, 0.45),
    rgba(118, 75, 162, 0.25) 40%,
    transparent 70%
  );

  filter: blur(18px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -3;
}

.Header-link:hover::before {
  opacity: 1;
}
.Header-link:hover {
  font-size: 2rem;
 

}

//Scroll horizontal
.horizontal-scroll-container {
  display: flex;
  height: 100vh;
  width: 100VW;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: none; /* Desactivado temporalmente */
  scroll-behavior: auto; /* CAMBIADO de smooth a auto */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}
.horizontal-scroll-container > div {
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
}



.item1{
  scroll-snap-align: start;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  user-select: none;
  position: relative;
}



//Portfolio title
.Portfolio-div {
  color: white;
    bottom: 0;
    left: 0;
 
   position: absolute;

}
.Portfolio-title {
    font-size: 24rem;
    font-weight: 800;
    line-height: 0.5;
   position: relative;
}

.Portfolio-title--color{
    color: rgba(102, 126, 234, 0.45);
    z-index: -1;
}

.Info-div {
  font-size: .9rem;
  margin: 0 0 2.5rem 1.5rem;
}

.marquee-container {
  overflow: hidden;
  width: 50%;
    -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite; 
}

.Info-description {
  white-space: nowrap;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 .2rem 0 0 ;
  letter-spacing: .2rem;
}

/* Animación infinita */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}





.Portfolio-by--text {
    font-weight: 700;
     color: rgb(102, 126, 234);
    }


    @media(max-width: 900px){
    .Portfolio-title {
    font-size: 20rem;
}
.marquee-container{
    width: 40% ;
}
.Info-div {
  font-size: .9rem;
  margin: 0 0 2rem 1.5rem;
}

}
@media(max-width: 700px){
    .Portfolio-title {
    font-size: 18rem;
}
.marquee-container{
    width: 35% ;
}

}

@media(max-width: 614px){
    .Portfolio-title {
    font-size: 16rem;
}
.marquee-container{
    width: 32% ;
}
}
@media(max-width: 516px){
    .Portfolio-title {
    font-size: 14rem;
}
.marquee-container{
    width: 28% ;
}

}
@media(max-width: 420px){
    .Portfolio-title {
    font-size: 12rem;
    line-height: .5;
}
.Header-nav ul{
    gap: 1rem;
}
.marquee-container{
    width: 23% ;
}

}
.Presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    gap: 1.5rem;

}
.Presentacion-name{
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.829);
}
.Presentacion-profession{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.74);
}

//buttons


	.btn {
	display: inline-flex;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	padding: 8px 20px;
	font-size: 14px;
background-color:rgba(255, 0, 225, 0.605);
	border-radius: 2px;
	color: white;
	text-transform: uppercase;
	border: none;
	transition: all 0.2s ease-in;
	background-position: 50%;
	outline: none !important;
	&.btn-circle {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		padding: 0 !important;
		font-size: 18px;
	}
}

.btn-multi {
	input {
		display: none;
		&:not(:checked) {
			~ label {
				transform: rotate(0);
				.btn {
					border-radius: 0;
					height: 30px;
					width: 30px;
					box-shadow: none;
					&:first-child {
						border-top-left-radius: 100%;
						transform: translate(25px, 25px);
					}
					&:nth-child(2) {
						border-top-right-radius: 100%;
						transform: translate(55px, 25px);
					}
					&:nth-child(3) {
						border-bottom-left-radius: 100%;
						transform: translate(25px, 55px);
					}
					&:nth-child(4) {
						border-bottom-right-radius: 100%;
						transform: translate(55px, 55px);
					}
					.icon { opacity: 0; }
				}
				> .icon { opacity: 1; cursor: pointer; }
			}
		}
	}
	label {
		position: relative;
		height: 110px;
		width: 110px;
		display: block;
		transform: rotate(45deg);
		transition: all .2s ease-in;
		cursor: default;
		border-radius: 30px;
		.btn {
			position: absolute;
  		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			&:nth-child(2) { transform: translate(60px, 0); }
			&:nth-child(3) { transform: translate(0, 60px); }
			&:nth-child(4) { transform: translate(60px, 60px); }
			.icon { 
				opacity: 1; 
				transition: all .15s ease-in-out; 
				transform: rotate(-45deg);
			}
		}
		> .icon {
			color: white;
			position: absolute;
			border-radius: 50%;
			display: flex;
			font-size: 20px;
      font-weight: 500;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 100px;
			top: 25px;
			left: 25px;
			opacity: 0;
			transition: all .25s ease-in-out;
		}
		.icon {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}
}
.svg-icon {
  width: 50px;
  height: 50px;

}
.svg-icon-linkedin{
  width: 50px;
border-radius: 2rem;
}
.icon-cv{
 font-size: 1.7rem;
 font-weight: 600;
}


.Cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 25rem;

}

/* GLASS BOX */
.glassBox {
  display: flex;
  position: relative;
  transition: all 0.4s ease;

}

/* IMAGEN */
.glassBox__imgBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease;

}

.glassBox__imgBox img,
.glassBox__imgBox svg {
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
    max-width: 6rem;
}

/* TITULO */
.glassBox__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  transition: all 0.4s ease;

}



/* HOVER */
.glassBox:hover .glassBox__imgBox {
  transform: translateY(-20px);
}

.glassBox:hover .glassBox__imgBox img,
.glassBox:hover .glassBox__imgBox svg {
  transform: translate(-10px, -20px) rotate(-15deg) scale(1.2);
}

.glassBox:hover .glassBox__content {
  opacity: 1;
}
.Tecnologías{
}
.Tecnologías-title{
    font-size: 2rem;
    font-weight: 700;
     color: rgba(255, 255, 255, 0.829);
}