:root {
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure,
canvas {
  max-width: 100%;
  display: block;
  width: 100%;
  height: initial;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

p a {
  display: inline;
}

li,
menu,
summary {
  list-style-type: none;
}

ol {
  counter-reset: revert;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
pre,
code,
mark,
del {
  font: inherit;
  line-height: 1em;
  text-decoration: none;
  color: inherit;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

mark {
  background-color: transparent;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

fieldset {
  border: none;
}

::placeholder {
  color: unset;
}

button,
label {
  cursor: pointer;
}

table,
tr,
td,
th,
tbody,
thead,
tfoot {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
}

svg {
  width: 100%;
  height: initial;
  display: block;
  fill: currentColor;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5em;
  color: inherit;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
}

html, body {
  overscroll-behavior: auto;
  touch-action: pan-y;
}

.carousel {
  touch-action: pan-y;
}


/* SOBRE MI */

.perfil-con-carrousel {
  padding: 4rem 2rem;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
}

.perfil-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 0;
}

.perfil-carrusel {
 flex: 1 1 300px;
  max-width: 60%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.perfil-carrusel img { width: 100%; height: auto; object-fit: cover; border-radius: 20px; }

.perfil-texto {
  flex: 1 1 400px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.perfil-nombre {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #6c63ff;
}

.perfil-roles {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.perfil-descripcion {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.perfil-contacto {
  font-weight: 500;
  font-size: 1rem;
  color: #6c63ff;
}
